.v-text-field .v-input__control .v-input__slot {
  min-height: auto !important;
  display: flex !important;
  align-items: center !important;
  height: 22px;
  margin: 0px;
  padding: 0px;
}

.v-label {
  height: 22px;
  margin: 0px;
  padding-right: 3px;
  display: inline-block;
  text-align: right;
  width: 100%;
}

.v-input__icon {
  height: 11px !important;
}
