<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="1" md="1"><v-label>Label 1:</v-label></v-col>
      <v-col cols="2" md="2"><v-text-field id="t1" outlined hide-details/></v-col>
      <v-col cols="4" md="4"></v-col>
      <v-col cols="1" md="1"><v-label>Label 3:</v-label></v-col>
      <v-col cols="2" md="2"><v-text-field id="t2" outlined hide-details/></v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="1" md="1"><v-label>Label 1:</v-label></v-col>
      <v-col cols="4" md="4"><v-text-field id="t3" outlined hide-details/></v-col>
      <v-col cols="1" md="1"><v-label>Label 2:</v-label></v-col>
      <v-col cols="1" md="1"><v-text-field id="t4" outlined hide-details/></v-col>
      <v-col cols="1" md="1"><v-label>Label 3:</v-label></v-col>
      <v-col cols="1" md="1"><v-text-field id="t5" outlined hide-details/></v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="1" md="1"><v-label>Label 1:</v-label></v-col>
      <v-col cols="1" md="1"><v-text-field id="t6" outlined hide-details/></v-col>
      <v-col cols="5" md="5"></v-col>
      <v-col cols="1" md="1"><v-label>Label 3:</v-label></v-col>
      <v-col cols="2" md="2"> <v-select :items="items" outlined hide-details></v-select></v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'HelloWorld',
  data: () => ({
    items: ['Foo', 'Bar', 'Fizz', 'Buzz']
  })
};
</script>
