<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="2" md="1"><span class="fieldLabel">Foo:</span></v-col>
      <v-col cols="2" md="1"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
      <v-col cols="2" md="1"><span class="fieldLabel">Bar:</span></v-col>
      <v-col cols="2" md="2"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
      <v-col cols="2" md="1"><span class="fieldLabel">FooBar:</span></v-col>
      <v-col cols="2" md="4"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="2" md="1"><span class="fieldLabel">Foo:</span></v-col>
      <v-col cols="2" md="1"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
      <v-col cols="2" md="1"><span class="fieldLabel">Bar:</span></v-col>
      <v-col cols="2" md="2"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
      <v-col cols="2" md="1"><span class="fieldLabel">FooBar:</span></v-col>
      <v-col cols="2" md="4"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="2" md="1"><span class="fieldLabel">Foo:</span></v-col>
      <v-col cols="2" md="4"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
      <v-col cols="2" md="1"><span class="fieldLabel">Bar:</span></v-col>
      <v-col cols="2" md="4"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="2" md="1"><span class="fieldLabel">Foo:</span></v-col>
      <v-col cols="2" md="4"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
      <v-col cols="2" md="1"><span class="fieldLabel">Bar:</span></v-col>
      <v-col cols="2" md="4"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="2" md="1"><span class="fieldLabel">Foo:</span></v-col>
      <v-col cols="2" md="4"><v-text-field hide-details height="18" class="fieldInput"/></v-col>
      <v-col cols="2" md="1"><span class="fieldLabel">Bar:</span></v-col>
      <v-col cols="2" md="4"><v-select :items="items" hide-details height="18" class="fieldInput"></v-select></v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="1" md="4"></v-col>
      <v-col cols="2" md="4">
        <v-textarea name="input-7-1"></v-textarea>
      </v-col>
      <v-col cols="8" md="4"></v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'HelloWorld',
  data: () => ({
    items: ['Foo', 'Bar', 'Fizz', 'Buzz']
  })
};
</script>

<style scoped>
.fieldInput {
  padding: 2px;
}
.fieldLabel {
  float: right;
  padding: 6px 4px;
  font-size: 10pt;
}
</style>
